{% extends "make_document/base.html" %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>learning log</title>#}
{#</head>#}
{#<body>#}
{#    <p>法律文书自动生成系统</p>#}
{#    <a href="{% url 'make_document:dis_people' %}">显示所有当事人</a>#}
{#    <br>#}
{#    <a href="{% url 'make_document:add_people' %}">新增当事人</a>#}
{#</body>#}
{#</html>#}

{% block header %}
    <div class='jumbotron'>
        <h1>文书管理系统</h1>
    </div>
{% endblock header %}
{% block content %}
    <h2>
        此系统可以用来自动生成文书<br>
        手动修改文书<br>
        打印文书
    </h2>
{% endblock content %}

