{% extends 'app01/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <h2>{{ topic }}</h2>
{% endblock header %}

{% block content %}
    <p>
        <a href="{% url 'app01:new_entry' topic.id %}">添加条目</a>
    </p>
    {% for entry in entries %}
        <div class="panel panel-default">
            <h3>
                {{ entry.date_added|date:'M d,Y H:i' }}
                <small>
                    <a href="{% url 'app01:edit_entry' entry.id %}">编辑条目</a>
                </small>
            </h3>
        </div>
        <div class="panel-body">
            {{ entry.text|linebreaks }}
        </div>
    {% empty %}
        还没有添加任何条目
    {% endfor %}
    <div>
        共有{{ entries.count }}个条目
    </div>
{% endblock content %}